@model WebApplication9.Areas.Admin.Models.SliderModel

@{
    ViewBag.Title = "SliderEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br /><br /><br />
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Admin Paneli</h4>
            </div>
                @using(Html.BeginForm("AddSlider","Slider",FormMethod.Post,new {@class ="form-horizontal",enctype="multipart/form-data"}))
                {
                <div class="panel-body">
                <h3>Yeni Slider Ekleme</h3>
                
                <br />
                
                    <div class="form-group">
                        @Html.LabelFor(m => m.SliderText, new { @class="col-sm-3 control-label"})
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.SliderText, new { @class="form-control",placeholder="Slider Yazısı"})
                        </div>
                        <div class="col-sm-3">
                          
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.Resim, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Resim, new { @class = "form-control", placeholder = "Resim Yolu",type="file" })
                        </div>
                        <div class="col-sm-3">
                            
                        </div>
                    </div>
                    
                    
                
            </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="btn-toolbar">
                                        <button class="btn-primary btn">Submit</button>
                                        <button class="btn-default btn">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
        </div>
    </div>
</div>

